body{
  background-color: #13140f;
  color:#ffffff;
}
ul{
  list-style: none;
}

.App__container{
  padding: 40px 20px;
  text-align: center;
}

.list{
  margin: 0 auto;
  background-color: #2e2f26;
  border-radius: 15px;
  max-width: 500px;
}
.list__content{
  padding: 20px ;
}
.list__input-container input{
  border: none;
  padding: 0 10px;
  height: 40px;
  border:none;
  border-radius: 5px 0 0 5px;
}
.list__input-container button{
  border: none;
 background: #888176;
 color:#13140f;
 padding: 0 10px;
 height: 40px;
 border-radius: 0 5px 5px 0;
}
.todo-item:not(:last-child){
  margin-bottom: 15px;
}

.todo-item{
  min-height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #bdb7ab;
  padding: 10px 20px;
  border-radius: 15px;
 color: #151613;
 font-weight: 600;
}

.todo-item button{
  border: 0;
  padding: 0;
  background-color: 0;
  color: none;
  border-radius: 15px;
}

.iconDelete{
  width: 20px;
}
.iconEdit{
  width: 20px;
}

ul div div{
  cursor: pointer;
}

.complete {
  text-decoration: line-through;
}
.noComplete{
display: flex;
flex-wrap: wrap;
}

.todo-item__btn-container{
  display: flex;
}
.todo-item__icons{
  display: flex;
  gap: 20px;
}

.editHolder{
  width: 100%;
  display: flex;
}
.editInput{
  width: 100%;
  box-sizing: border-box;
  border: none;
    padding: 0 10px;
    height: 30px;
    align-items:center;
    border: none;
    border-radius: 5px 0 0 5px;
}

.editButton{
  min-width: 100px;
    border: none;
      background: #888176;
      color: #13140f;
      padding: 0 10px;
      height: 30px;
      border-radius: 0 5px 5px 0;
}